@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

html, body {
    height: 600px;
    width: 400px;
}

html {
    scroll-behavior: smooth;
}

button {
    background: none;
    border: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

p {
    margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    color: black;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    padding: 20px;

    th {
        background-color: rgb(61, 11, 117);
        color: white;
        font-size: 15px;
        padding: 15px;
        border: 1px solid grey;
    }

    td {
        font-size: 10px;
        padding: 10px;
        text-align: center;
        border: 1px solid grey;
    }

    tr:nth-child(even) {
        background-color: rgb(204, 204, 204);
    }

    tr:hover {
        background-color: rgb(170, 162, 162);
    }
}

a {
    text-decoration: none;
}
